body {
	margin: 0;
	padding: 0;
	font-family: Tahoma, verdana, arial;
	background-color: #dddddd;
}

#wrapper {
	margin: 20px auto 0 auto;
	padding: 0;
	width: 900px;
	height: auto;
	background-color: white;	
}

#headerWrapper {
	margin: 0 auto 0 auto;
	width: 900px;
	height: auto;
}

#header {
	width: 100%;
	margin: 0;
	background-color: #333333;
	border-bottom: 5px solid blue;
	padding: 0;
}

h1 {
	color: #efefef;
	margin: 0 0 0 15px;
	padding: 10px 10px 10px 0;
}

h3 {
	color: #efefef;
	margin: 0;
	padding: 10px;
}

.clear {
	clear: both;
	height: 0px;
}

#list {
	width: 100%;
	border-collapse: collapse;
}

#titleRow {
	width: 100%;
	margin: 0;
	background-color: #333333;
	border-bottom: 3px solid blue;
	padding: 0;
	text-align: center;
}

.rows td{
	padding: 5px;
	text-align: center;
	border: 1px dotted #dddddd;
}

.float {	
	float: left;
	margin: 0 auto 0 auto;
}

button {
}
