{% extends "base.html" %}

{% load staticfiles %}

{% block extrascripts %}
<script>
$(function(){
	$(".add").click(function(e){
		e.preventDefault();
		var prevTD = $(this).closest('td').prev('td');
		$.ajax({
			url: $(this).parent().attr('action'),
			type: "post",
			data: $(this).parent().serialize(),
			success: function(d) {
				prevTD.html(d);
				console.log(d);
			},
			error: function(d){
				console.log(d);
			},
		});
		return false;
	});	
});

$(function(){
	$(".subtract").click(function(e){
		e.preventDefault();
		var prevTD = $(this).closest('td').prev('td');
		$.ajax({
			url: $(this).parent().attr('action'),
			type: "post",
			data: $(this).parent().serialize(),
			success: function(d) {
				prevTD.html(d);
				console.log(d);
			},
			error: function(d){
				console.log(d);
			},
		});
		return false;
	});	
});
</script>
<script src="{% static 'inventory/js/forms.js' %}"></script>
{% endblock %}

{% block title %}Inventory Manger Item List{% endblock %}
{% block header %}
	{% if items.0.category %}
		{{ items.0.category }} - What a great list!
	{% else %}
		Umm... I'm empty!
	{% endif %}
{% endblock %}
	
{% block content %}
<div class="container">
	<a href="/inventory/" class="btn btn-primary">Back to categories</a>
	<br>
	<br>

	<table id="listTable" class="table table-bordered table-striped">
		<tr>
			<td><h3>Name</h3></td>
			<td><h3>Description</h3></td>
			<td><h3>Category</h3></td>
			<td><h3>Quantity</h3></td>
			<td><h3>Update Quantity</h3></td>
		</tr>

		{% for item in items %}
			<tr>
				<td>{{ item.name }}</td>
				<td>{{ item.description }}</td>
				<td>{{ item.category }}</td>
				<td align="center">{{ item.quantity }}</td>
				<td>
					<form class="pull-left" action="{% url 'inventory:addI' item.id %}" method="POST">
						{% csrf_token %}	
						<button style="width: 75px" type="submit" class="button btn-primary btn-xs add" id="{{ item.id }}">+1</button>
					</form>
					<form class="pull-right" action="{% url 'inventory:subtractI' item.id %}" method="POST">
						{% csrf_token %}
						<button style="width: 75px" type="submit" class="button btn-primary btn-xs subtract">-1</button>
					</form>
				</td>
			</tr>
		{% endfor %}

	</table>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Let's add some more items to this here list...</h3>
	</div>
	<div class="panel-body">
		<form action="{% url 'inventory:addItem' cat_id %}" method="POST" id="item_form">
			<table cellpadding="5" id="itemTable">
				{% csrf_token %}
				{{ form.as_table }}
				<input type="hidden" name="category" id="category" value="{{ cat_id }}" />
				<tr>
					<td align="right" colspan="2">
						<button class="addItem btn btn-lg btn-primary">Add new item</button>
					</td>
				</tr>
			</table>
			{{ message }}
		</form>
	</div>
</div>

</div>
{% endblock %}
